/* Main Window */

QMainWindow::separator {
    background: #222;
    width: 4px;
}

QMenuBar {
    background-color: #111;
}

QMenuBar:disabled {
    color: #666;
}

QMenu {
    border: 2px solid #444;
    background-color: #111;
    border-radius: 8px;
}

QMenu::item:disabled {
    color: #666;
    background-color: transparent;
}

QMenu::item:selected {
    background-color: rgba(144, 165, 165, 65);
}

QMenu::separator {
    background-color: #222;
}

QStatusBar {
    background-color: #222;
    border: 2px solid #222;
}

/* Containers */

QDialog {
    background-color: #222;
}

QFrame {
    background-color: #222;
}

QGroupBox {
    color: #999;
}

QScrollArea {
    border: 2px solid #555;
    background: #222;
    width: 10px;
    border-radius: 4px;
    margin: 0;
}

QDOckWidget {
    color: #999;
}

QDOckWidget::title {
    background: #111;
}

/* QDOckWidget > QWidget {
    background: #111;
} */

/* Scroll Bars */

QScrollBar:vertical {
    border: None;
    background: #222;
    width: 10px;
    border-radius: 4px;
    margin: 0;
}

QScrollBar:handle:vertical {
    background: #444;
    min-height: 20px;
    border-radius: 3px;
    margin: 2;
}

QScrollBar::add-line:vertical {
    border: None;
    background: #222;
    height: 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: None;
    background: #222;
    height: 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    background: None;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: None;
}

QScrollBar:horizontal {
    border: None;
    background: #222;
    height: 10px;
    border-radius: 4px;
    margin: 0;
}

QScrollBar:handle:horizontal {
    background: #444;
    min-width: 20px;
    border-radius: 3px;
    margin: 2;
}

QScrollBar::add-line:horizontal {
    border: None;
    background: #222;
    width: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: None;
    background: #222;
    width: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    background: None;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: None;
}

QSplitter {
    background: transparent;
}
QSplitter::handle {
    background-color: #000;
}
QSplitter::handle:hover {
    background-color: #ABC;
}

/* Display Widgets */

QLabel {
    border-radius: 4px;
    background-color: transparent;
    padding: 1px 3px;
    color: #DDD;
}

QLabel:hover {
    border-color: #666;;
}

QLabel:focus {
    border: 2px solid #788;
}

QLabel#embedder_label {
    border-top-left-radius: 6;
    border-top-right-radius: 6;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #AAA;
    background-color: #444;
    padding: 0px 12px;
    font-size: 10px;
}

QWidget[is_embedded="true"] {
    border-top-left-radius: 0;
}

/* Buttons */
QPushButton {
    background-color: #444;
    border: 2px solid #555;
    border-radius: 4px;
    padding: 1px 3px;
    color: #DDD;
}

QPushButton:hover {
    background-color: #555;
    border-color: #666;
}

QPushButton:pressed {
    background-color: #222;
    border-color: #333;
    color: #888;
}

QPushButton:disabled {
    background-color: #333;
    border-color: #555;
    color: #999;
}

QPushButton:checked {
    background-color: #222;
    border-color: #888;
    color: #999;
}

QPushButton[widget-style="dialog"] {
    border: 0px solid;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: #444;
    color: #DDD;
}

QPushButton:hover[widget-style="dialog"] {
    background-color: #555;
}

QPushButton:pressed[widget-style="dialog"] {
    background-color: #333;
    color: #888;
}

QPushButton[widget-style="borderless"] {
    border: none;
    border-radius: 4px;
    padding: 0px;
    background-color: rgba(128, 128, 128, 0.2);
    color: #DDD;
}

QPushButton:hover[widget-style="borderless"] {
    background-color: rgba(128, 128, 128, 0.4);
}

QPushButton:pressed[widget-style="borderless"] {
    background-color: rgba(128, 128, 128, 0.1);
    color: #888;
}

QPushButton[widget-style="round"] {
    text-align: left;
    padding-left: 8;
    border-radius: 11px;
}

QPushButton[widget-style="action-clear"] {
    border-radius: 8px;
    font-size: 8pt;
    border-color: transparent;
    color: #EEE;
    background-color: #566;
}
QPushButton[widget-style="action-clear"]:hover {
    color: #FFF;
    background-color: #C20;
}

QPushButton[color="blue"] {
    /* background-color: #48B; */
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0.75,
                                stop:0 rgba(99, 196, 255, 196), 
                                stop:0.1 rgba(42, 176, 204, 196), 
                                stop:0.5 rgba(26, 151, 196, 196), 
                                stop:1 rgba(0, 144, 196, 196));
    color: white;
}
QPushButton[color="blue"]:hover {
    /* background-color: #59C; */
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:1, 
                                stop:0 rgba(42, 176, 204, 216), 
                                stop:0.99 rgba(26, 151, 196, 216), 
                                stop:1 rgba(0, 123, 196, 216));
}
QPushButton[color="blue"]:pressed {
    /* background-color: #369; */
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:1, 
                                stop:0 rgba(42, 176, 204, 125), 
                                stop:0.1 rgba(26, 151, 196, 125), 
                                stop:1 rgba(0, 123, 196, 125));
}

QPushButton[color="red"] {
    background-color: #F44;
    color: white;
}
QPushButton[color="red"]:hover {
    background-color: #F66;
}
QPushButton[color="red"]:pressed {
    background-color: #D33;
}

QPushButton[color="green"] {
    background-color: #4D4;
    color: white;
}
QPushButton[color="green"]:hover {
    background-color: #6E6;
}
QPushButton[color="green"]:pressed {
    background-color: #3C3;
}

QPushButton[color="yellow"] {
    background-color: #FD3;
    color: black;
}
QPushButton[color="yellow"]:hover {
    background-color: #FE5;
}
QPushButton[color="yellow"]:pressed {
    background-color: #DB2;
}

QPushButton::menu-indicator {
    image: url(icons/drop-down.svg);
    width: 12px;
    height: 12px;
    subcontrol-position: right center;
    padding-right: 4;
    /* subcontrol-origin: padding; */
}

QToolBar {
    background-color: #333;
    padding: 0;
    spacing: 4px;
    border: 0px;
    border-radius: 4px;
}

QToolBar[widget-style="overlay"] {
    background-color: rgba(87, 87, 87, 0.8);
}

QToolBar::handle:horizontal {
    image: url(icons/grip-vertical.svg);
    width: 16px;
}

QToolBar::handle:vertical {
    image: url(icons/grip-horizontal.svg);
    height: 16px;
}

QToolButton {
    border-radius: 4px;
    background-color: transparent;
    padding: 0px;
    color: #DDD;
}

QToolButton:hover {
    background-color: rgba(128, 128, 128, 0.4);
}

QToolButton:pressed {
    background-color: rgba(128, 128, 128, 0.1);
    color: #888;
}

QToolButton:checked {
    background-color: rgba(0, 0, 0, 0.4);
}

QToolButton:disabled {
    background-color: #222;
    color: #999;
}

QToolButton[widget-style="round"] {
    border: 2px solid transparent;
    border-radius: 12px;
}
QToolButton[widget-style="round"]:hover {
    background-color: #444;
    border-color: #666;
}
QToolButton[widget-style="round"]:pressed {
    background-color: #222;
    border-color: #333;
}

QToolButton[color="red"]:hover {
    background-color: #800;
}

QCheckBox {
    color: #999;
}

QCheckBox::indicator {
    border: 3px solid #333;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background: #222;
}

QCheckBox::indicator:hover {
    border: 3px solid #444;
}

QCheckBox::indicator:checked {
    background: solid #999;
    border: 3px solid #344;
}

QCheckBox:hover {
    color: #aaa;
}

QCheckBox:checked {
    color: #DDD;
}

QRadioButton {
    color: #999;
}

QRadioButton::indicator {
    border: 3px solid #333;
    width: 15px;
    height: 15px;
    border-radius: 9px;
    background: #222;
}

QRadioButton::indicator:hover {
    border: 3px solid #444;
}

QRadioButton::indicator:checked {
    background: #999;
    border: 3px solid #344;
}

QRadioButton:hover {
    color: #aaa;
}

QRadioButton:checked {
    color: #DDD;
}

/* Item Widgets */

QHeaderView {
    border-radius: 5px;
}

QHeaderView:section {
    color: #999;
    background: #333;
    border: 1px solid #222;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 4px;
}

QListView {
    background-color: #181818;
    border: 2px solid #333;
    border-radius: 4px;
    padding: 0px;
    color: #DDD;
}

QListView:hover  {
    border: 2px solid #555;
    border-radius: 4px;
}

QListView::indicator {
    background-color: rgba(85, 85, 85, 51);
    border: 2px solid #333;
    border-radius: 4px;
}

QListView::indicator:checked {
    background: 3px solid rgba(238, 238, 238, 51);
    border: 2px solid #344;
}

QListView::indicator:hover {
    background: 2x solid #444;
    border-radius: 4px;
}

QListView:disabled {
    color: #666;
}

QListView:focus {
    border-color: #788;
}

QListView::item {
    border: 1px solid #222;
}

QListView::item:hover {
    border-color: #444;
}

QListView::item:selected {
    background-color: rgba(144, 165, 165, 65);
}

GalleryWidget::item {
    background-color: #333;
    border-radius: 10px;
}
GalleryWidget::item:selected {
    background-color: #555;
    border-color: #788;
}

QTreeView {
    border: 2px solid #444;
    background-color: #181818;
    border-radius: 6px;
    padding: 0px;
    padding-bottom: 6px;
    color: #DDD;
}

QTreeView::indicator {
    background-color: rgba(85, 85, 85, 51);
    border: 2px solid rgba(51, 51, 51, 51);
    border-radius: 4px;
}

QTreeView::indicator:checked {
    background: 3px solid #999;
    border: 2px solid rgba(51, 68, 68, 51);
}

QTreeView::indicator:hover {
    border-color: #555;
    border-radius: 4px;
}

QTreeView:disabled {
    color: #666;
}

QTreeView:hover {
    border-color: #555;
}

QTreeView:focus {
    border-color: #788;
}

QTreeView::item {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #222;
}

QTreeView::item:hover {
    border-color: #444;
}

QTreeView::item:selected {
    background-color: rgba(144, 165, 165, 65);
}

QTableView {
    border: 2px solid #444;
    background: #181818;
    border-radius: 4px;
}

QTableCornerButton::section {
    border-color: #333;
    background: #222;
}

QTableView:hover {
    border-color:#555;
}

QTableView::item {
    border: 2px solid #333;
    color: #DDD;
}

QTableView::item:hover {
    border-color: #444;
    color: #DDD;
}

QTableView::item:selected {
    background-color: rgba(144, 165, 165, 65);
}

/* Input Widgets */

QComboBox {
    background-color: #444;
    border: 2px solid #555;
    border-radius: 4px;
    padding: 1px 0px 1px 3px;
    color: #DDD;
}

QComboBox QAbstractItemView {
    background-color: #444;
}

QComboBox:focus {
    border: 2px solid #788;
}

QComboBox::editable {
    background-color: #222;
}

QComboBox::editable:focus {
    border: 2px solid #788;
}

QComboBox:hover {
    border-color: #666;;
}

QComboBox:disabled {
    color: #666;
}

QComboBox::drop-down:button {
    border-radius: 4px;
}

QComboBox::down-arrow {
    image: url(icons/drop-down.svg);
    width: 12px;
    height: 12px;
    padding-right: 4;
}

QComboBox[widget-style="round"] {
    background-color: transparent;
    color: #AAA;
    border-color: #666;
    text-align: left;
    border-radius: 12px;
}
QComboBox[widget-style="round"]:hover {
    color: #CCC;
    border-color: #888;
}
QComboBox[widget-style="round"]:focus {
    border-color: #788;
}

QComboBox[active="true"] {
    background-color: rgba(119, 170, 187, 51);
    border-color: #7AB;
    color: #DDD;
}
QComboBox[active="true"]:hover {
    border-color: #8BC;
    color: #DDD;
}
QComboBox[widget-style="round"][active="true"]:focus {
    border-color: #7BC;
}

QComboBox[widget-style="clean"] {
    color: #999;
    background: transparent;
    padding: 0 0;
    border: None;
    text-align: left;
    font-size: 12px;
}
QComboBox[widget-style="clean"]:hover {
    color: #DDD;
}
QComboBox[widget-style="clean"]::down-arrow {
    width: 10;
    height: 10;
}

QLineEdit {
    border-radius: 4px;
    background-color: #181818;
    padding: 1px 3px;
    color: #DDD;
    border: 2px solid #555;
}

QLineEdit:hover {
    border-color: #666;;
}

QLineEdit:focus {
    border-color: #788;
}

QLineEdit[widget-style="round"] {
    background-color: transparent;
    border-color: #666;
    text-align: left;
    border-radius: 12px;
}
QLineEdit[widget-style="round"]:hover {
    color: #CCC;
    border-color: #888;
}

QLineEdit[widget-style="borderless"] {
    background-color: transparent;
    border: 0px;
    text-align: left;
}

QLineEdit[has-placeholder="true"][text=""]{
    color: gray;
}

QLineEdit[active="true"] {
    background-color: rgba(119, 170, 187, 51);
    border-color: #7AB;
    color: #DDD;
}
QLineEdit[active="true"]:hover {
    border-color: #8BC;
    color: #DDD;
}
QLineEdit[widget-style="round"][active="true"]:focus {
    border-color: #7BC;
}

QTextEdit {
    border-radius: 4px;
    background-color: #181818;
    padding: 1px 3px;
    color: #DDD;
    border: 2px solid #555;
}

QTextEdit:hover {
    border-color: #666;;
}

QTextEdit:focus {
    border: 2px solid #788;
}

QPlainTextEdit {
    border-radius: 4px;
    background-color: #181818;
    padding: 1px 3px;
    color: #DDD;
    border: 2px solid #555;
}

QPlainTextEdit:hover {
    border-color: #666;;
}

QPlainTextEdit:focus {
    border: 2px solid #788;
}

QSpinBox {
    border-radius: 4px;
    background-color: #181818;
    padding: 1px 3px;
    color: #DDD;
    border: 2px solid #555;
}

QSpinBox:hover {
    border-color: #666;
}

QSpinBox:focus {
    border-color: #788;
}

QSpinBox:disabled {
    color: #999;
}

QDoubleSpinBox {
    border-radius: 4px;
    background-color: #181818;
    padding: 1px 3px;
    color: #DDD;
    border: 2px solid #555;
}

QDoubleSpinBox:hover {
    border-color: #666;
}

QDoubleSpinBox:focus {
    border-color: #788;
}

QDoubleSpinBox:disabled {
    color: #999;
}

QDateEdit {
    background-color: #444;
    border: 2px solid #555;
    border-radius: 4px;
    padding: 1px 0px 1px 3px;
    color: #DDD;
}

QDateEdit::editable {
    background-color: #222;
}

QComboBox::editable:focus {
    border: 2px solid #788;
}

QDateEdit:hover {
    border-color: #666;;
}

QDateEdit:disabled {
    color: #666;
}

QDateEdit::drop-down:button {
    border-radius: 4px;
}

QDateEdit::down-arrow {
    image: url(icons/drop-down.svg);
    width: 12px;
    height: 12px;
}

/* Custom */
ContextMenu QLabel {
    color: #999;
    padding: 6px;
}

TagListView::item {
    background-color: #355;
    border-radius: 4px;
    border: transparent;
    padding: 2px 5px;
    color: #DDD;
    margin: 2px;
}
TagListView::item:hover {
    background-color: #466;
}
TagListView::item:pressed {
    background-color: #244;
}

InlineConfirmButton QPushButton {
    background-color: #222;
    border: none;
}
InlineConfirmButton QPushButton:hover {
    background-color: #444;
}

FilterButton {
    background-color: transparent;
    color: #AAA;
    border: 2px solid #666;
    text-align: left;
    padding-left: 8px;
    border-radius: 12px;
}
FilterButton:hover {
    color: #CCC;
    border-color: #888;
}
FilterButton:focus {
    border-color: #788;
}
FilterButton:pressed {
    background-color: #222;
    border-color: #444;
    color: #888;
}
FilterButton[active="true"] {
    background-color: rgba(119, 170, 187, 51);
    border-color: #7AB;
    color: #DDD;
}
FilterButton[active="true"]:hover {
    border-color: #8BC;
}
FilterButton[active="true"]:focus {
    border-color: #7BC;
}

QTreeView QListView {
    border: 0px;
    background: transparent;
}
QTreeView QListView:hover {
    border: 0px;
}

/* QSlider */
QSlider {
    background-color: transparent;
}

QSlider::groove:horizontal {
    border: 1px solid #444;
    height: 6px;
    background: #222;
    border-radius: 3px;
}

QSlider::handle:horizontal {
    background: #555;
    border: 0px solid #666;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin: -3px 0; /* Offset to center the handle */
}

QSlider::handle:horizontal:hover {
    background: #777;
    border-color: #888;
}

QSlider::handle:horizontal:pressed {
    background: #444;
    border-color: #555;
}

QSlider::sub-page:horizontal {
    background: #333;
    border: 1px solid #222;
    height: 6px;
    border-radius: 3px;
}

QSlider::add-page:horizontal {
    background: #333;
    border: 1px solid #222;
    height: 6px;
    border-radius: 3px;
}

QSlider::groove:vertical {
    border: 1px solid #444;
    width: 6px;
    background: #222;
    border-radius: 3px;
}

QSlider::handle:vertical {
    background: #555;
    border: 1px solid #666;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin: 0 -3px; /* Offset to center the handle */
}

QSlider::handle:vertical:hover {
    background: #777;
    border-color: #888;
}

QSlider::handle:vertical:pressed {
    background: #444;
    border-color: #555;
}

QSlider::sub-page:vertical {
    background: #333;
    border: 1px solid #222;
    width: 6px;
    border-radius: 3px;
}

QSlider::add-page:vertical {
    background: #333;
    border: 1px solid #222;
    width: 6px;
    border-radius: 3px;
}

SimpleSearchWidget {
    background-color: transparent;
    border: 2px solid #666;
    text-align: left;
    border-radius: 12px;
}

SimpleSearchWidget:hover {
    color: #CCC;
    border-color: #888;
}

SimpleSearchWidget[in-focus="true"] {
    border: 2px solid #788;
}

SimpleSearchWidget[active="true"] {
    background-color: rgba(119, 170, 187, 51);
    border-color: #7AB;
    color: #DDD;

}
SimpleSearchWidget[active="true"]:hover {
    border-color: #8BC;
}
